---
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Image from "astro/components/Image.astro";
import Ending from "@/components/Ending.astro";
import { SITE_EMBED_IMAGE } from "@/consts";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, cover } = Astro.props;
---

<Layout suffix="Blog" {title} {description} image={cover?.src ?? SITE_EMBED_IMAGE}>
  <Breadcrumb />
  <article>
    <div class="cover">
      {cover && <Image width={1020} height={510} src={cover} alt="" loading="eager" />}
    </div>
    <div class="title">
      <div class="date">
        <p class="published-on"><FormattedDate date={pubDate} /></p>
        {
          updatedDate && (
            <p>
              <small class="last-updated-on">
                (Last updated on <FormattedDate date={updatedDate} />)
              </small>
            </p>
          )
        }
      </div>
      <h1>{title}</h1>
      <p><em>{description}</em></p>
      <hr />
    </div>
    <slot />
  </article>
  <Ending />
</Layout>

<style>
  .cover img {
    max-height: 40vh;
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    margin-bottom: 0.5em;
    color: var(--pico-muted);
  }
  .published-on {
    margin-bottom: 0.25em;
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
