---
import type { CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Image from "astro/components/Image.astro";
import Ending from "@/components/Ending.astro";
import { SITE_EMBED_IMAGE } from "@/consts";
import profileImage from "@/images/profile-bg-med.png";
import ArticleStructuredData from "@/components/ArticleStructuredData.astro";

type Props = CollectionEntry<"blog">["data"];

const props = Astro.props;
const { title, description, pubDate, updatedDate, cover } = props;
---

<Layout suffix="Blog" {title} {description} image={cover?.src ?? SITE_EMBED_IMAGE}>
  <ArticleStructuredData slot="structured-data" {...props} />
  <Breadcrumb />
  <article>
    <header>
      <div class="cover">
        {cover && <Image width={1020} height={510} src={cover} alt="" loading="eager" />}
      </div>
      <div class="metadata">
        <p class="published-on">
          <FormattedDate date={pubDate} />
        </p>
        {
          updatedDate && (
            <p class="last-updated-on">
              <small>
                (Last updated on <FormattedDate date={updatedDate} />)
              </small>
            </p>
          )
        }
      </div>
      <h1>{title}</h1>
      <p><em>{description}</em></p>
      <address>
        By <a href="https://fireis.dev/about"
          ><span class="profile-image"><Image src={profileImage} height={24} alt="" loading="lazy" /></span> FireIsGood</a
        >
      </address>
    </header>
    <slot />
  </article>
  <Ending />
</Layout>

<style>
  .cover {
    margin-bottom: var(--pico-spacing);
  }
  .cover img {
    max-height: 40vh;
  }

  header {
    margin: 0;
    padding: 0;

    background-color: transparent;

    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    line-height: 1;
  }

  h1 {
    margin: 0 0 0.5em 0;
  }

  .metadata {
    margin-bottom: 0.5em;
    > * {
      color: var(--pico-muted-color);
    }
  }

  .published-on {
    margin-bottom: 0.25em;
  }
  .last-updated-on {
    font-style: italic;
  }

  address > a {
    display: inline-flex;
    gap: 0.5ch;
  }
  .profile-image {
    border-radius: var(--pico-border-radius);
    box-shadow: var(--shadow-outset);
    height: 1em;
    width: 1em;
    margin-left: 0.25ch;
    display: inline-block;

    & > img {
      display: inline;
      height: 100%;
    }
  }
</style>
